header
{
    width: 100vw;
    position: fixed;
}

header>div
{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    border: 1px solid var(--marron);
    border-radius: 25px;
    margin: auto;
    padding-right: 30px;
}

header ul
{
    display: flex;
    gap: 4rem;
}

header ul li
{
    list-style: none;
}

header ul li a:hover, header ul li a:visited, header ul li a
{
    color: black;
}

#switcher
{
    margin-left: 122px;
    align-content: center;
}