@charset "UTF-8";
/* CSS Document */

@import url("variable.css");
@import url("carousel.css");
@import url("darkmod.css");
@import url("switcher.css");
@import url("header.css");
@import url("content.css");
@import url("beers-info.css");

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--creme);
}
